<!-- templates/home.html -->
{% extends 'base.html' %}
{% load staticfiles %}
{% include "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.get_short_name }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
<p>People having birthday today:</p>
{% for name in birthday_person %}
    {{ name }}
    <br />
{% endfor %}
<br />
<br />
<p>People having birthday this month:</p>
{% for person in birthdays_this_month %}
    {% for key , value in person.items %}
        {% if key in wanted_keys %}
            <p>
            {{key}} : {{value}} 
            </p>
        {% endif %}
    {% endfor %}
    <br />
{% endfor %}

{% endblock %}
